<div style="margin-bottom:30px;">
  <ul class="nav nav-tabs">
    <li class="{{c}}"><a (click)="change()" [routerLink]="['searchEmployee']">Search Employee</a></li>
    <li class="{{c1}}"><a (click)="change1()" [routerLink]="['ViewAllEmployee']">View All Employees</a></li>
  </ul>
  </div> 
  <!-- <ul class="nav nav-tabs">
      <li class={{c}}><a href="#">Home</a></li>
      <li class="active"><a >Menu 1</a></li>
      <li><a href="#">Menu 2</a></li>
      <li><a href="#">Menu 3</a></li>
    </ul> -->
  
  <router-outlet style="margin-top:60px; top:80px;"></router-outlet>